{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Grocery Price Book</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1-dist/css/bootstrap.min.css'%}">
    </head>
    <body>
        <div class="container">
            {% block heading %}
                <h1>Grocery Price List</h1>
            {% endblock%}

            {% block content %}{% endblock %}
        </div>
    </body>
</html>