<p>
  category-list works!
</p>
<div *ngIf="categories">
<ul *ngFor="let category of categories" (click)='onSelect(category)'>
  <li [class.selected]="category === selectedCategory" *ngIf="show(category.id)" (click)="onSelect(category.id)">
    {{ category.id }}
    <button class="delete" title="delete category" (click)="delete(category)">x</button>
  </li>
</ul>
</div>

<div>
    <label>Category name:
      <input #categoryName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(categoryName.value); categoryName.value=''">
      add
    </button>
  </div>

<app-category-detail [category]="selectedCategory"></app-category-detail>